@font-face
{
font-family: myFancyFont;
src: url('../fonts/NewWaltDisney.ttf')
}

header.header {
    background-color: $bar_color;
    padding: 10px 0;
    color: $white_color;
   

}

.header-context {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 10px 0;
    h3 {
        font-family: myFancyFont, Times, serif;
        font-size: 35px;
        letter-spacing: 5px;
    }
}

//Mobile first
.top-menu {
    ul {
        list-style: none;
        display: flex;
        

        li {
            padding: 10px 30px;
            
            a {
                font-size: 18px;
                color: $white_color;

            }
            &:hover {
                background: #FF416C;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to top, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to top, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                border-radius: 8px;
            }
        }
        
    }
}

.top-menu ul li {
    transition: all ease .35s;
}

@media screen and (max-width: 678px) {
    header.header {
       
    }
} 