* {
  margin: 0;
  padding: 0; }

a {
  color: #FC4349;
  text-decoration: none; }

body {
  background-color: #F1F2EC;
  font-family: 'Source Sans Pro', sans-serif; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

@font-face {
  font-family: myFancyFont;
  src: url("../fonts/NewWaltDisney.ttf"); }

header.header {
  background-color: #282B40;
  padding: 10px 0;
  color: #F1F2EC; }

.header-context {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  padding: 10px 0; }
  .logo h3 {
    font-family: myFancyFont, Times, serif;
    font-size: 35px;
    letter-spacing: 5px; }

.top-menu ul {
  list-style: none;
  display: flex; }
  .top-menu ul li {
    padding: 10px 30px; }
    .top-menu ul li a {
      font-size: 18px;
      color: #F1F2EC; }
    .top-menu ul li:hover {
      background: #FF416C;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #FF4B2B, #FF416C);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #FF4B2B, #FF416C);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border-radius: 8px; }

.top-menu ul li {
  transition: all ease .35s; }

.hero {
  background: #FF416C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FF4B2B, #FF416C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FF4B2B, #FF416C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 100px 0;
  text-align: center; }

.hero-context h1 {
  font-size: 80px;
  margin: 40px 0;
  color: #fff; }

.hero-context h2 {
  font-size: 30px;
  padding: 15px 0;
  color: #fff; }

.hero-context p {
  font-size: 22px; }

.hero-context button {
  border: none;
  background-color: #282B40;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  padding: 12px 20px;
  margin: 30px 0;
  transition: ease .35s;
  cursor: pointer; }
  .hero-context button:hover {
    box-shadow: inset 0 0 0 25px #fff;
    color: #282B40; }

.projects {
  background-color: #282B40; }

.top-context {
  text-align: center;
  padding: 20px 0; }
  .top-context h2 {
    font-size: 60px;
    line-height: 80px;
    color: #F1F2EC; }
  .top-context p {
    color: #FC4349;
    font-size: 22px; }

.portfolio-img img {
  width: 350px;
  margin-bottom: 25px;
  overflow: hidden;
  height: 250px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 53px 68px -32px rgba(135, 131, 135, 0.5);
  -moz-box-shadow: 0px 53px 68px -32px rgba(135, 131, 135, 0.5);
  box-shadow: 0px 53px 68px -32px rgba(135, 131, 135, 0.5);
  transition: all 300ms ease-in-out; }
  .portfolio-img img:hover {
    transform: scale(1.2); }

.grid {
  display: flex;
  margin-top: 30px; }

.project_grid {
  padding: 20px 10px;
  text-align: center; }

.project-article h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #FC4349; }

.project-article p {
  color: #fff;
  line-height: 30px;
  font-size: 22px; }

.project-article .project-link {
  padding: 20px 0; }
  .project-article .project-link a {
    padding: 0 8px;
    color: #42a5f5;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700; }
    .project-article .project-link a i {
      color: #FC4349;
      padding-right: 5px; }

.about-section {
  background-color: #f4f5f9;
  padding: 40px 15px; }

.about-content {
  display: flex; }
  .about-content .avatar {
    flex-basis: 65%; }
    .about-content .avatar img {
      height: 350px;
      border-radius: 50%;
      width: 320px; }
  .about-content .about-me-content {
    padding: 30px; }
    .about-content .about-me-content p {
      color: #3a3f49;
      line-height: 30px;
      font-size: 22px;
      padding-top: 20px; }
    .about-content .about-me-content span a {
      padding: 10px 0;
      font-size: 18px;
      text-decoration: none;
      font-weight: 700;
      display: block; }

h2.title {
  color: #282B40; }

.bar-back {
  background-color: #282B40; }

/*Contact*/
.section-contact {
  background: #282B40; }

h2.title-contact {
  color: #fff; }

.form-grid {
  display: flex;
  flex-direction: column; }

@media only screen and (min-width: 600px) {
  .form-grid {
    flex-direction: row; } }

.left-grid {
  padding: 4em 3em 2em 0;
  flex-basis: 50%;
  border-right: 1px solid rgba(212, 212, 255, 0.1); }

.righ-grid {
  padding: 3em 0 1em 3em; }

.conntact-method {
  margin: 30px 0; }

.conntact-method h3 {
  font-size: 40px;
  color: #fff; }

.conntact-method h3 i {
  padding-right: 20px;
  color: #FC4349; }

.conntact-method p {
  color: #fff;
  display: block;
  line-height: 30px;
  padding: 20px 70px; }

.conntact-method a {
  color: #fff;
  display: block;
  line-height: 30px;
  padding: 20px 70px; }

.fields {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 3em);
  margin: -1.5em 0 2em -1.5em; }

form > .fields > .field {
  -moz-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 1.5em 0 0 1.5em;
  width: calc(100% - 1.5em); }

form > .fields > .field.half {
  width: calc(50% - .75em); }

input[type=email]:invalid, input[type=password]:invalid, input[type=search]:invalid, input[type=tel]:invalid, input[type=text]:invalid, input[type=url]:invalid, select:invalid, textarea:invalid {
  box-shadow: none; }

input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select {
  height: 4em; }

input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(212, 212, 255, 0.035);
  border: none;
  border-radius: 0;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%; }

.field label {
  color: #fff;
  display: block;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: .25em;
  margin: 0 0 1em;
  text-transform: uppercase; }

input[type=button], input[type=reset], input[type=submit] {
  background-color: #FC4349;
  border: none;
  color: #26293a;
  cursor: pointer;
  display: inline-block;
  font-size: .8em;
  font-weight: 600;
  height: 3.5em;
  letter-spacing: .25em;
  line-height: 3.5em;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 20px 25px; }

.field textarea {
  padding: .75em 1em;
  height: 20em; }

/*
 form textarea {
 	height: 300px;
 	background: #33364c;
 	border: none;
 }
*/
.footer {
  background-color: #282B40;
  padding: 20px 0; }
  .footer p {
    font-size: 18px;
    color: #fff; }
    .footer p a {
      display: inline; }
    .footer p span {
      color: #FC4349; }
