* {
  margin: 0;
  padding: 0; }

a {
  color: #FC4349;
  text-decoration: none; }

body {
  background-color: #F1F2EC;
  font-family: 'Source Sans Pro', sans-serif; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

@font-face {
  font-family: myFancyFont;
  src: url("../fonts/NewWaltDisney.ttf"); }

header.header {
  background-color: #282B40;
  padding: 10px 0;
  color: #F1F2EC; }

.header-context {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  padding: 10px 0; }
  .logo h3 {
    font-family: myFancyFont, Times, serif;
    font-size: 35px;
    letter-spacing: 5px; }

.top-menu ul {
  list-style: none;
  display: flex; }
  .top-menu ul li {
    padding: 10px 30px; }
    .top-menu ul li a {
      font-size: 18px;
      color: #F1F2EC; }
    .top-menu ul li:hover {
      background: #FF416C;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #FF4B2B, #FF416C);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #FF4B2B, #FF416C);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border-radius: 8px; }

.top-menu ul li {
  transition: ease-in-out .5s; }

.hero {
  background: #FF416C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FF4B2B, #FF416C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FF4B2B, #FF416C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 100px 0;
  text-align: center; }
